<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="bg-white text-white text-lg font-mono">
        {{ partial:partials/topMenu }} {{ partial:partials/nav }}
        <div>{{ partial:partials/slider }}</div>
        <div>{{ partial:partials/select }}</div>
        <div class="container max-lg mx-auto py-8 border-white border-2">
            {{ template_content }}
        </div>
    </body>
</html>
