<!-- partials/nav.antler.html -->

<style>
    .submenu {
        display: none;
    }
</style>

<script>
    function toggleSubmenu(id) {
        const submenu = document.getElementById(id);
        const isVisible = submenu.style.display === "flex";

        // Hide all submenus
        document
            .querySelectorAll(".submenu")
            .forEach((submenu) => (submenu.style.display = "none"));

        // Show the clicked submenu if it's not already visible
        if (!isVisible) {
            submenu.style.display = "flex";
        }
    }
</script>

<nav
    class="
        bg-white
        text-black text-xs text-green text-center
        flex
        justify-between
        items-center
        space-x-4
        px-4
        py-2
    "
>
    <div class="flex gap-8 items-center">
        <img
            src="/blue-ps-logo.png"
            alt="blue playstation logo"
            class="w-14 flex gap-2 cursor-pointer"
        />
        <div>
            <ul class="flex gap-8 text-lg">
                <li
                    class="menu-item cursor-pointer"
                    onclick="toggleSubmenu('games-submenu')"
                >
                    Games
                </li>
                <li
                    class="menu-item cursor-pointer"
                    onclick="toggleSubmenu('ps5-submenu')"
                >
                    PS5
                </li>
                <li
                    class="menu-item cursor-pointer"
                    onclick="toggleSubmenu('ps4-submenu')"
                >
                    PS4
                </li>
                <li
                    class="cursor-pointer"
                    onclick="toggleSubmenu('services-submenu')"
                >
                    Services
                </li>
                <li
                    class="cursor-pointer"
                    onclick="toggleSubmenu('accessories-submenu')"
                >
                    Accessories
                </li>
                <li
                    class="cursor-pointer"
                    onclick="toggleSubmenu('news-submenu')"
                >
                    News
                </li>
                <li
                    class="cursor-pointer"
                    onclick="toggleSubmenu('store-submenu')"
                >
                    Store
                </li>
                <li
                    class="cursor-pointer"
                    onclick="toggleSubmenu('support-submenu')"
                >
                    Support
                </li>
            </ul>
        </div>
    </div>
    <div class="flex gap-8 items-center">
        <button class="bg-blue-500 py-2 px-6 rounded-full text-white">
            Sign In
        </button>
        <p>Search</p>
    </div>
</nav>

<div
    id="games-submenu"
    class="
        submenu
        bg-white
        text-black
        flex
        justify-center
        center-items
        space-x-4
        p-2
        w-full
        gap-24
    "
>
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            hover:border-gray-900 hover:border-opacity-50
            rounded
        "
    >
        <img src="/ps5-icon.png" alt="ps5-icon" class="w-16" />
        PS5</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
    >
        <img src="/ps4-icon.png" alt="ps4-icon" class="w-16" />PS4</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
    >
        <img src="/vr2-icon.png" alt="vr2-icon" class="w-16" />PS VR2</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/pc-icon.png" alt="pc-icon" class="w-16" />PC</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/ps-plus-icon.png" alt="ps-plus-icon" class="w-16" />PS
        Plus</a
    >
</div>
<!-- PS 5 SUB MENU -->
<div
    id="ps5-submenu"
    class="
        submenu
        bg-white
        text-black
        flex
        justify-center
        gap-8
        items-center
        space-x-4
        p-2
        w-full
    "
>
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/ps5-icon.png" alt="ps5-icon" class="w-16" />Console</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/games-icon.png" alt="games-icon" class="w-16" />Games</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img
            src="/controller-icon.png"
            alt="controller-icon"
            class="w-16"
        />Controllers</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/vr2-icon.png" alt="vr2-icon" class="w-16" />PS VR2</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img
            src="/headsets-icon.png"
            alt="headsets-icon"
            class="w-10"
        />Headsets</a
    >
</div>
<!-- PS4 SUB MENU -->
<div
    id="ps4-submenu"
    class="
        submenu
        bg-white
        text-black
        flex
        justify-center
        gap-8
        items-center
        space-x-4
        p-2
        w-full
    "
>
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/ps4-icon.png" alt="ps4-icon" class="w-16" />Console</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/games-icon.png" alt="games-icon" class="w-16" />Games</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img
            src="/controller-icon.png"
            alt="controller-icon"
            class="w-16"
        />Controllers</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img
            src="/headsets-icon.png"
            alt="headsets-icon"
            class="w-10"
        />Headsets</a
    >
</div>
<!-- SERVICES SUB MENU -->
<div
    id="services-submenu"
    class="
        submenu
        bg-white
        text-black
        flex
        justify-center
        gap-8
        items-center
        space-x-4
        p-2
        w-full
    "
>
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/ps4-icon.png" alt="ps4-icon" class="w-12" />Console</a
    >
    <a
        href="#"
        class="
            py-2
            px-6
            block
            flex flex-col
            items-center
            hover:shadow-lg hover:shadow-gray-900
            rounded
        "
        ><img src="/games-icon.png" alt="games-icon" class="w-12" />Games</a
    >
</div>
