<!-- partials/nav.antler.html -->

<nav
    class="
        bg-white
        text-black text-xs text-green text-center
        flex
        justify-between
        items-center
        space-x-4
        px-4
        py-2
    "
>
    <div class="flex gap-8 items-center">
        <img
            src="/blue-ps-logo.png"
            alt="blue playstation logo"
            class="w-14 flex gap-2 cursor-pointer"
        />
        <div>
            <ul class="flex gap-8 text-lg">
                <li class="cursor-pointer">Games</li>
                <li class="cursor-pointer">PS5</li>
                <li class="cursor-pointer">PS4</li>
                <li class="cursor-pointer">Services</li>
                <li class="cursor-pointer">Accessories</li>
                <li class="cursor-pointer">News</li>
                <li class="cursor-pointer">Store</li>
                <li class="cursor-pointer">Support</li>
            </ul>
        </div>
    </div>
    <div class="flex gap-8 items-center">
        <button class="bg-blue-500 py-2 px-6 rounded-full text-white">
            Sign In
        </button>
        <p>Search</p>
    </div>
</nav>
